/auth-api/node_modules
/sales-api/node_modules

D:\DEV\MS-RabbitMQ\Microsservices-rabbitMQ\product-api\product-api\.gradle
D:\DEV\MS-RabbitMQ\Microsservices-rabbitMQ\product-api\product-api\.idea
D:\DEV\MS-RabbitMQ\Microsservices-rabbitMQ\product-api\product-api\build

C:\Users\guilh\Desktop\MYPROJECT\MS-RabbitMQ\product-api\product-api\.gradle
C:\Users\guilh\Desktop\MYPROJECT\MS-RabbitMQ\product-api\product-api\.idea
C:\Users\guilh\Desktop\MYPROJECT\MS-RabbitMQ\product-api\product-api\build
